/* sass --watch styles.scss:styles.css */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
* {
  box-sizing: border-box; }

html {
  position: relative;
  font-size: 100%; }

html, body {
  min-height: 100%;
  width: 100%;
  color: black; }

body {
  padding-bottom: 50px; }

body a, body a:hover {
  text-decoration: none; }

#skiplinks {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/*Navigation*/
.mainnav {
  width: 100%;
  height: auto;
  background: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

/* Navigation Logo */
.navlogo {
  width: 40%;
  max-width: 380px; }

.navlogo img {
  max-width: 100%;
  height: auto;
  max-height: 77px;
  padding: 10px;
  filter: invert(20%);
  -webkit-filter: invert(20%); }

/*Desktop nav*/
.responsivenav {
  display: block;
  width: 60%;
  min-height: 50px;
  height: auto;
  max-width: 460px; }
  .responsivenav ul.mainlinks {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: table;
    min-height: 80px; }
    .responsivenav ul.mainlinks li {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .responsivenav ul.mainlinks li .active {
        background: #BBBBBB;
        color: white; }
        .responsivenav ul.mainlinks li .active:hover {
          background: #BBBBBB; }
      .responsivenav ul.mainlinks li a {
        color: #515151;
        text-decoration: none;
        padding: 32px 20px;
        transition: all 0.6s ease;
        -webkit-transition-delay: all 0.6s ease;
        -moz-transition-delay: all 0.6s ease;
        -ms-transition-delay: all 0.6s ease;
        -o-transition-delay: all 0.6s ease; }
        .responsivenav ul.mainlinks li a:hover {
          background: #efefef; }

button.navtoggle {
  display: none; }

@media (min-width: 780px) {
  .responsivenav ul.mainlinks {
    display: table; } }
/*Mobile Nav*/
@media (max-width: 780px) {
  .mainnav {
    align-items: center; }

  .navlogo {
    width: 80%;
    max-width: 780px; }
    .navlogo img {
      max-width: 100%;
      height: auto;
      max-height: 83px;
      margin: 0 auto;
      display: block; }

  .responsivenav {
    text-align: center;
    width: 100%;
    min-height: 0px;
    max-width: 780px; }
    .responsivenav ul.mainlinks {
      display: none;
      list-style: none;
      padding-left: 0px;
      min-height: 0px;
      background: #E4E4E4;
      margin: 0px;
      padding: 0px 0px; }
      .responsivenav ul.mainlinks li {
        display: block; }
        .responsivenav ul.mainlinks li a {
          padding: 15px 10px;
          display: block;
          text-decoration: none;
          border-bottom: 1px solid #C9C9C9; }
          .responsivenav ul.mainlinks li a:hover {
            border-left: 8px solid #9C9C9C; }

  button.navtoggle {
    display: table-cell;
    margin: 5px auto;
    text-align: center;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: #E2E2E2 url(../images/navbutton.png) center no-repeat;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-size: 80%;
    width: 40px;
    height: 40px;
    max-width: 60px;
    outline: none;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }
    button.navtoggle:hover {
      opacity: 0.7; } }
/* Header */
header {
  background: #737373; }

.headerbg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.headerleft img {
  width: 100%;
  height: auto;
  max-width: 750px;
  max-height: 165px; }

/*Header Right */
.headerright1 img, .headerright2 img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  max-height: 40px;
  margin: 0px 5px; }

.headerright h3 {
  margin: 0px 0px 0px 5px;
  display: inline-block;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px; }

.headerright1, .headerright2 {
  display: flex;
  align-items: center;
  padding: 8px 0px; }

@media (max-width: 735px) {
  .headerleft, .headerright {
    width: 80%; }

  .headerright1, .headerright2 {
    justify-content: center; } }
@media (max-width: 400px) {
  .headerbg {
    padding: 20px 0px; }

  .headerleft, .headerright {
    width: 100%; }

  .headerleft img {
    width: 100%; } }
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  background: #1d60b4;
  color: white;
  text-align: center;
  border-top: 1px solid white; }

/*Main content*/
body main {
  width: 100%; }

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  clear: both;
  padding: 0px 0px 0px 0px; }

.content section {
  padding: 0px 20px; }

.content p:first-child {
  margin-top: 0; }

main content p {
  text-align: left; }

/* TITLES */
.pagetitle {
  display: none;
  width: 100%; }

.pagetitle h1 {
  text-align: left;
  padding: 5px;
  margin: 20px;
  font-size: 1.3em;
  border-bottom: 3px solid black;
  display: inline-block; }

@media (max-width: 780px) {
  .pagetitle {
    display: block; } }
.propertiescontainer, .sellingpoints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.contentleft, .contentright {
  width: 50%;
  max-width: 475px; }

.contentleft img {
  padding: 0px 10px; }

@media (max-width: 768px) {
  .contentleft, .contentright {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; } }
@media (max-width: 400px) {
  .contentleft, .contentright {
    width: 100%;
    margin: 0 auto; } }
.flexcenter {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

/* Home - Properties */
.properties {
  width: 33.3%;
  height: 200px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid grey; }

.properties p {
  color: white; }

@media (max-width: 550px) {
  .properties {
    width: 50%; } }
@media (max-width: 400px) {
  .properties {
    width: 100%; } }
/*Home - Selling Points */
.sellingpoints {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.sellingpointcontainer {
  width: 25%;
  max-width: 150px;
  max-height: 150px;
  margin: 20px; }

.sellingpoint {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 50% 0%;
  border-radius: 50%;
  background: #1d60b4;
  text-align: center; }
  .sellingpoint h4 {
    font-size: 1.3em;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    color: white;
    letter-spacing: 2px; }

@media (max-width: 700px) {
  .sellingpointcontainer {
    width: 50%; } }
@media (max-width: 500px) {
  .sellingpointcontainer {
    width: 100%; } }
/* Home - Contact */
/*About */
.map iframe {
  max-width: 100%; }

/*Properties */
.content section.propertycontainer:first-child {
  padding-top: 0px; }

.content section.propertycontainer:nth-of-type(even) {
  background: #eeeeee; }

.content section.propertycontainer {
  width: 100%;
  padding: 10px 0px; }

.property {
  max-width: 900px;
  width: 80%;
  margin: 20px auto;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.property:nth-of-type(even) {
  margin: 20px auto; }

.property div {
  border: 1px solid red;
  background: #666666; }

.propertyinfo {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.propertytitle {
  width: 70%; }

.propertyprice {
  width: 30%; }

.propertydescription {
  width: 100%; }

.mainpropertyimage {
  width: 30%;
  height: 200px; }

.propertythumbs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.propertythumbs img {
  width: 25%;
  height: 98px;
  background: black; }

@media (max-width: 768px) {
  .propertyinfo, .mainpropertyimage {
    width: 100%; } }
@media (max-width: 450px) {
  .propertytitle, .propertyprice {
    width: 100%; }

  .propertythumbs img {
    width: 50%; } }
/* Contact */
.contact {
  background: #eeeeee;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.contactarea {
  margin: 20px;
  transition: all 0.3s ease;
  -webkit-transition-delay: all 0.3s ease;
  -moz-transition-delay: all 0.3s ease;
  -ms-transition-delay: all 0.3s ease;
  -o-transition-delay: all 0.3s ease; }

.contactarea:hover {
  padding-top: 5px; }

.contactarea {
  text-align: center; }
  .contactarea h2 {
    font-family: roboto, sans-serif;
    color: #bc0c0c;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px; }
  .contactarea h5 {
    font-family: 'Fjalla One', sans-serif;
    margin: 0px;
    color: #294364; }

@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; } }
/* Contact Form */
#contactform {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 40px auto; }
  #contactform label {
    margin-top: 20px;
    display: block; }
    #contactform label span {
      color: red; }
  #contactform input, #contactform textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: #000; }
  #contactform #submit {
    max-width: 90px;
    background: #EA7D12;
    color: white;
    border: 0;
    font-size: 1em; }
    #contactform #submit:hover {
      background: #D9710B; }

@media (max-width: 610px) {
  #contactform {
    padding: 0px 20px; } }
/*FONTS */

/*# sourceMappingURL=styles.css.map */
